/node_modules
/public/css
/public/js
.idea/codeStyles/codeStyleConfig.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/Portfolio-2020.iml

.idea/vcs.xml

.idea/workspace.xml
